<%# bootstrap currentUser %>
<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>

<%# adhoc load image assets %>
<script type="text/javascript">
  window.staticImages = {};
  window.staticImages.x = "<%= image_path('x.svg') %>"
</script>

<main id="root"></main>
