.button-wrapper {
  border-radius: 4px;
  display: flex;
  margin-bottom: 16px;
  justify-content: center;
  width: 100%;
}

.button {
  border-radius: 4px;
  width: 100%;
  padding: 12px 24px;
  font-weight: 700;
  text-align: center;
}