@font-face {
	font-family: 'Airglyphs';
	src:font-url('airglyphs.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}	

.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #484848;
}