#map-wrapper {
  bottom: 0px;
  top: 98px;
  left: 66%;
  width: 34%;
  position: fixed;
}

#map-container {
  height: 100%;
  background-color: #A4DDF5;
}

#map-container > div {
  background-color: rgba(0, 0, 0, 0) !important;
}