#abnb-logo {
  height: 34px;
  width: 34px;
  padding: 0 24px;
}

#header {
  width: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #e4e4e4;
}

#main-nav {
  display: flex;
  justify-content: space-between;  
  align-items: center;
}

#main-nav-menu {
  height: 64px;
  display: flex;
  font-size: 13px;
}

#main-nav-menu button {
  padding: 0 18px;
}