#abnb-logo {
  height: 34px;
  width: 34px;
  padding-left: 24px;
}

#header {
  width: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #e4e4e4;
  z-index: 10;
  position: fixed;
  background-color: #fff;
}

#main-nav {
  display: flex;
  justify-content: space-between;  
  align-items: center;
}

#main-nav-menu {
  height: 64px;
  display: flex;
  font-size: 13px;
}

#main-nav-menu button {
  padding: 0 18px;
}

#main-nav-left-group {
  display: flex;
}

.subnav-link {
  color: #484848 !important;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 24px;
}

#sub-nav {
  margin-bottom: 11px;  
}
