.modal-wrapper { 
  position: absolute; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0; 
  background-color: rgba(0, 0, 0, 0.75) !important;
  
  // center modal
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.contentBox {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 568px;
  height: 595px;
  padding: 32px;
  background-color: rgb(255, 255, 255);
}

#modal-close {
  color: #484848;
  margin-bottom: 24px;
}

#modal-close img {
  height: 16px;
  width: 16px;
}

.modal-title {
  font-size: 25px;
}

.title-wrapper {
  margin-bottom: 24px;
}

.input-wrapper {
  border: 1px solid #DBDBDB;
  border-radius: 2px;
  display: flex;
  margin-bottom: 16px;
}

.input-inner-wrapper {
  width: 90%;
}

.input-inner-icon {
  width: 10%;
  color: #484848;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-inner-icon .fa {
  font-size: 1.5em;
}

.button-wrapper {
  background-color: #FF5A5F;
  border-radius: 4px;
  display: flex;
  margin-bottom: 16px;
}

#login-modal input {
  padding: 11px;
  width: 100%;
}

#forgot-password {
  text-align: center;
}

.divider-wrapper {
  text-align: center;
  display: flex;
  align-items: center;
}

.divider-fill {
  display: block;
  height: 1px;
  flex: 1;
  border-bottom: 1px solid #e4e4e4;
  top: 50%;
}

.divider-content {
  padding: 16px;
  flex: 1;
}

.modal-button {
  border-radius: 4px;
  width: 100%;
  padding: 12px 24px;
  font-weight: 700;
  text-align: center;
}

.submit-button {
  color: #fff;
}

.omniauth-button {
  color: #484848;
}

.omniauth-wrapper {
  display: flex;
  margin-bottom: 24px;
}

.omniauth-wrapper:first-child {
  margin-right: 15px;
}

.omniauth-button-wrapper {
  box-sizing: border-box;
  border: 2px solid #000;
  border-radius: 4px;
  width: 50%;
}

.omniauth-button-wrapper:first-child {
  margin-right: 16px;
}

#login-signup {
  text-align: center;
}

#footer-divider {
  margin-top: 16px;
  margin-bottom: 16px;
}



