#venues {
  width: 100%;
  height: 100%;
  display: flex;
}

#venue-list {
  width: 66%;
  // background: linear-gradient(45deg, #1f30fb, #4effab);
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.venue-cell {
  padding: 8px;
  background-color: #fff;
  width: 33.3333%;
  min-height: 300px;
  flex-shrink: 0;
  box-sizing: border-box;
  font-size: 14px;
}

.venue-cell-image {
  max-height: 80%;
  min-height: 220px;
  background-position: 25% 50%;
  background-size: cover;  
}

.venue-cell-sub {
  font-weight: 300;
}

.venue-cell-title {
  font-weight: 700;
}

.ven-desc-landing-img {
  height: 702px;
  background-position: 25% 50%;
  background-size: cover;
}

.ven-desc-sec {
  margin-bottom: 32px;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.ven-desc-summary-icons {
  display: flex;
  font-weight: 300;
  justify-content: space-around;
  color: #767676;
}

.ven-desc-summary-icons span {
  font-size: 14px;
  padding-bottom: 24px;
}

.ven-desc-icon-group {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  width: 89px; // for positioning
}

.ven-desc-body {
  margin: auto;
  max-width: 1020px;
  display: flex;
}

.ven-desc-body-left {
  width: 68%;
  padding-right: 16px;
}

.ven-desc-body-right {
  width: 32%;
  margin-right: 14px;
}

.ven-desc-title {
  padding-bottom: 20px;
}

.ven-desc-title-name {
  font-weight: 700;
  font-size: 30px;
}

.ven-desc-about-main-header,
.ven-desc-about-header,
{
  margin: 20px 0;
}

.ven-desc-about-main-header {
  font-size: 22px;  
}

.ven-desc-about-header {
  font-weight: 400;  
  font-size: 16px;
}

.ven-desc-about span {
  font-weight: 300;  
  font-size: 16px;
}

i.icon:before {
  font-family: 'Airglyphs';  
  font-size: 32px;
}

i.icon.icon-entire-place.icon-size:before {
  content: '\f166';
}

i.icon.icon-group.icon-size:before {
  content: '\f181';
}

i.icon.icon-rooms.icon-size:before {
  content: '\f1cf';
}

i.icon.icon-double-bed.icon-size:before {
  content: '\f160';
}

#venue-booking {
  background-color: rgb(187, 187, 187);
}

.ven-book-price {
  height: 50px;
  top: -50px;
  margin-bottom: -50px;
  width: 100%;
  background-color: rgba(60,63,64,0.9);
  position: relative;
  padding: 11px 20px 8px;
  box-sizing: border-box;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}

.ven-book-price-value {
  font-size: 24px;
  font-weight: 700;
  margin: 0 3px;
}

.ven-book-form-inner {
  // display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border: 1px solid #dce0e0;
  padding: 0 16px;
  padding-top: 16px;
}

.ven-book-form-inner label {
  font-weight: 400;
  font-size: 15px;
  display: block;
  margin-bottom: 10px;
}

.ven-book-date-wrapper {
  display: flex;
}

.ven-book-date-group {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.ven-book-date-group input {
  border-top: 1px solid #dce0e0;
  border-bottom: 1px solid #dce0e0;
  padding: 10px 16px;
}

.ven-book-check-in {
  border-radius: 4px 0 0 4px;
  border-left: 1px solid #dce0e0;
  border-right: 1px solid #dce0e0;
  
}

.ven-book-check-out {
  border-radius: 0 4px 4px 0;
  border-right: 1px solid #dce0e0;
}

.ven-book-date-input-wrapper {
  border: 1px solid #dce0e0;
}

.ven-book-book {
  background-color: #FF5A5F;
  color: #fff;
  margin: 0 3px;
}

.ven-book-view-other-listings {
  background-color: #fff;
  margin: 0 3px;
  border: 1px solid #dce0e0;
}

.ven-book-select-guests {
  font-weight: 300 !important;
  border: 1px solid #dce0e0;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.ven-book-select-guests img {
  display: inline-block;
  height: 14px;
  width: 14px;
  margin-top: 5px;
}

.ven-book-sec {
  margin-bottom: 16px;
}

